* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #0a0a0a;
  color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background-color: #333;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#positionDisplay, #player-health, #score {
  font-size: 16px;
  font-weight: bold;
}

#health-bar-container {
  width: 100%;
  height: 20px;
  background-color: #555;
  margin-top: 10px;
}

#health-bar {
  height: 100%;
  background-color: green;
  width: 100%;
  transition: width 0.3s ease-out;
}

#arena {
  position: relative;
  width: 100%;
  height: 80vh;
  background-color: #43a3af;
  overflow: hidden;
  margin-top: 30px;
  border: 2px solid #0a50e9;
}

#player {
  position: absolute;
}

#sprite {
  width: 50px;
  height: 50px;
}


.enemy {
  background-color: red;
  border-radius: 50%;
}

.bullet {
  width: 8px;
  height: 15px;
  background-color: yellow;
  position: absolute;
}

#playBtn {
  font-size: 24px;
  padding: 20px 40px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px auto;
  display: block;
}

#playBtn:hover {
  background-color: darkgreen;
}
